body {
    box-sizing: border-box;
}
.bookmarkAll {
    margin-top: 100px;
    position: relative;
    min-height: calc(100vh - 5rem); 
}

.bookmark {
    font-family: 'NanumSquareRound';
    font-weight: 800;
    font-size: 23px;
    letter-spacing: -2px;
    color: #222;
}

.loginUse {
    margin-top: 6px;
    font-family: 'NanumSquareRound';
    font-size: 13px;
    font-weight: normal;
    letter-spacing: -0.6px;
    color: #666;
}

.favorite--19POh:after {
    position: absolute;
    display: block;
    bottom: 0;
    left: 50%;
    width: 890px;
    height: 250px;
    margin-left: -445px;
    background: url(/assets/img/bot-4.png) no-repeat;
    background-size: 890px 250px;
    content: '';
    z-index: 20;
}

.bottomImg img {
    position: absolute;
    display: block;
    bottom: 0;
    left: 50%;
    width: 890px;
    height: 250px;
    margin-left: -445px;
    background-size: 890px 250px;
    content: '';
    z-index: 20;
}
