main {

  }

.list {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 80px;
}

.listBoxMain {
    font-family: 'NanumSquareRound';
    font-size: 30px;
    font-weight: bold;
    margin: 8px;
    text-align: center;
}

.listBox {
    display: flex;
    font-family: 'NanumSquareRound';
    font-size: 12px;
    font-weight: bold;
    color: gray;
    background-color: white;
    border-radius: 30px;
    border: 2px solid #D3D3D3;
    margin: 8px;
    width: 69px;
    height: 39px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.gameBox,
.languageBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameBoxList,
.languageBoxList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px; 
}


.gameBoxList p,
.languageBoxList p {
    font-family: 'NanumSquareRound';
    font-size: 16px;
    font-weight: bold;
    color: black;
    position: relative;
    cursor: pointer;
}

.text-love {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    display: flex;
    align-items: center;
}

.game img,
.language img {
    width: 250px;
    height: 138px;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    justify-content: flex-end;
    border: 1px solid #D3D3D3;
}

.love {
    width: 36px;
    height: 36px;
    z-index: 0;
  }
  
  .love img {
    width: 100%;
    height: 100%;
    border: 0px;
    cursor: pointer;
  }

/*language*/

.wordImg img {
    width: 438px;
    height: 194px;
    position: relative;
}

/*quiz*/
a {
    text-decoration: none;
    color: gray;
}


.quizImg {
    position: relative;
    max-width: 894px;
    margin: 0 auto;
    text-align: center;
}

.quizImg img {
    width: 336px;
    height: 106px;
}

.todayQuiz {
    position: absolute;
    bottom: 10px;
    left: 40%;
    transform: translateX(-50%); 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'NanumSquareRound';
    font-weight: bold;
    font-size: 16px;
    color: white;
    width: 178px;
    height: 43px;
    background-color: #6185E0;
    text-align: center;
    border-radius: 10px;
}

.quizBoxList {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    max-width: 1200px;
    margin-left: 0 auto;
    padding: 20px;
}

.quizBox {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 476px;
    height: 200px; 
    border: 1px solid #D3D3D3;
    border-radius: 30px;
    margin: 14px;
}

.quizBox img {
    width: 138px;
    height: 119px;
    margin: 36px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start;
    height: 100%; 
    margin-left: 30px;
}

.dino-quiz {
    font-family: 'NanumSquareRound';
    font-size: 24px;
    font-weight: 800;
    margin: 4px 0;
    color: black;
    line-height: 1.2; 
}

.dino-explore {
    font-family: 'NanumSquareRound';
    font-size: 13px;
    color: #666565;
    margin: 4px 0;
    line-height: 1.2; 
}