/* movieMain 영역 */

.movieList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-item {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 16px;
}

.movieList .movie-img {
  width: 250px;
  height: 138px;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  justify-content: flex-end;
  border: 1px solid #D3D3D3;
}

#movieList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px; 
}

.movie {
  position: relative;
  transition-duration: 1s;
}

.movie:hover {
  transform: scale(1.1);
}

.movie-time {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 20px;
  background-color: #190909;
  opacity: 0.5;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.movieList p {
  font-family: 'NanumSquareRound';
  font-size: 16px;
  font-weight: bold;
  color: black;
  text-align: left;
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100px;
}

.text-love {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  display: flex;
  align-items: center;
}

.love {
  width: 36px;
  height: 36px;
  z-index: 0;
}

.love img {
  width: 100%;
  height: 100%;
  border: 0px;
  cursor: pointer;
}

/* movie_sub*/
.movieListSub {
  display: flex;
  justify-content: center;
  position: relative;
  top: 16px;
}

.movie-itemSub img {
  width: 212px;
  height: 142px;
  cursor: pointer;
  border-radius: 30px;
  justify-content: flex-end;
  padding: 3px;
}

.movieListSub p {
  font-family: 'NanumSquareRound';
  font-size: 14px;
  font-weight: bold;
  color: black;
  margin: 4px;
  text-align: left;
  position: relative;
  cursor: pointer;
}

.movietxt p {
  font-family: 'NanumSquareRound';
  font-size: 32px;
  font-weight: bold;
  color: black;
  margin: 4px;
  text-align: left;
  position: relative;
  cursor: pointer;
}

.movie-timeSub {
  position: absolute;
  bottom: 70px;
  right: 20px;
  width: 60px;
  height: 20px;
  background-color: #190909;
  color :white;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.bigMovie {
  padding: 8px;
  padding-right: 50px;
}

.bigMovie video {
  width: 700px;
  height: 400px;
  object-fit: fill;
}

#movieListRandom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px; 
}

#movietxtSub {
  font-size: 24px;
}

.text-loveSub {
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.loveSub {
  display: flex;
  justify-content: space-between;
}

.loveSub img {
  position: absolute;
  width: 77px;
  height: 77px;
}

.movietxtSub {
  text-align: left;
}

.Icon {
  display: flex;
  flex-direction: row;
}

.loveIcon,
.playIcon {
  position: relative;
  width: 24px;
  height: 20px;
  flex: 0 0 24px;
  margin: 5px;
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
}

#IconSub {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#loveIconSub,
#playIconSub {
  width: 12px;
  flex: 0 0 12px;
  align-items: center;
  margin: 2px;
}

#numberSub {
  font-size: 10px;
}

#movieSub:hover {
  transform: none;
}

#movieSub img {
  width: 240px;
  height: 138px;
  cursor: pointer;
  border-radius: 15px;
  position: relative;
  justify-content: flex-end;
}

a {
  text-decoration: none;
  color: black;
}