.search-results {
    display: flex;
    align-items: center;
}

.search-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
    margin : 5px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    transition-duration: 0.5s;
}

.search{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.search-result:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
}

.result-link {
    text-decoration: none;
}

.result-thumbnail {
    overflow: hidden;
    background-color: #f4f4f4;
}

.result-thumbnail img {
    width: 250px;
    height: 138px;
    cursor: pointer;
    position: relative;
    justify-content: flex-end;
}


.result-info {
    flex: 1; 
    padding: 10px;
}

.result-title {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
