.search-result {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    background-color: #fff;
}

.search-result:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.result-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    width: 100%;
}

.result-thumbnail {
    flex: 0 0 100px; 
    height: 100px;
    overflow: hidden;
    background-color: #f4f4f4;
}

.result-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.result-info {
    flex: 1; 
    padding: 10px;
}

.result-title {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
