/* 헤더 영역 */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #fff;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

header {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.mainHeader {
  display: flex;
  background-color: #fff;
  z-index: 50;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  text-align: center;
}

.logo {
  display: inline-block;
  line-height: 0;
  padding: 0 20px;
  cursor: pointer;
}

.logo img {
  transition-duration: 0.5s;
}

.logo img:hover {
  transform: scale(1.1);
}

h1 {
  display: block;
  font-size: 2em;
  margin: 0;
  font-weight: bold;
}

.search-box {
  display: flex;
  width: 300px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 100px;
  background-color: #f9f9f9;
  font-size: 16px;
  line-height: 20px;
  justify-content: center;
  text-align: center;
  margin-right: 20px;
  cursor: pointer;
}

.search-box input[type="text"] {
  flex: 1;
  border: none;
  outline: none;
  padding: 0;
  margin-left: 16px;
  background-color: #f9f9f9;
}

.search-box button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  padding: 5px;
}

.search-button img {
  width: 24px;
  /* 버튼 이미지의 너비 */
  height: 24px;
  /* 버튼 이미지의 높이 */
}

.icons {
  display: flex;
  justify-content: center;
  background: #fff;
  z-index: 40;
  padding: 10px;
}

button {
  cursor: pointer;
}

.btnGrp {
  display: flex;
  gap: 10px;
  margin-right: 40px;
}

.login button {
  border-radius: 27px;
  font-family: 'NanumSquareRound';
  font-weight: 1000;
  height: 38px;
  padding: 0 17px;
  font-size: 14px;
  color: white;
  background: #ffc82a;
  border: none;
}

.naver-logo {
  position: relative;
  display: inline-block;
}

.naver-button {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-color: white;
  padding: 10px;
  font-family: 'NanumSquareRound';
  font-size: 16px;
  font-weight: bold;
  color: rgb(3, 199, 90);
  border: 2px solid #4CAF50;
  transition: width 0.3s;
  /* 애니메이션 효과 추가 */
  text-align: center;
  /* 텍스트 가운데 정렬 */
  position: absolute;
}

.naver-button:hover {
  width: 100px;
  /* 가로 길이 확장 */
  color: rgb(3, 199, 90);
  /* 텍스트 색상 유지 */
}

/* 텍스트 변경을 위한 추가 요소 */
.naver-button::after {
  content: 'aver';
  display: inline-block;
  opacity: 0;
  transition: opacity 0.3s;
}

.naver-logo button:hover::after {
  opacity: 1;
}

.icon {
  text-align: center;
  margin: 0 10px;
  cursor: pointer;
}

.icon img:hover {
  transform: scale(1.1);
}

.icon img {
  width: 50px;
  height: 50px;
  transition-duration: 1s;
}

.icon p {
  font-family: 'BM HANNA Pro OTF';
  font-size: 16px;
  color: black;
  margin: 4px;
}

/* 메인 영역 */

.contents {
  min-height: calc(100vh - 5rem);
  display: flex;
  flex-direction: column;
  top :160px;
}

.card {}

.cardUp,
.cardDown {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.card img {
  width: 144px;
  height: 178px;
  cursor: pointer;
}

.card-item {
  margin: 25px;
  border-radius: 30px;
  width: 176px;
  height: 234px;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
}

#card1, #bigCard1 {
  background-color: #9CE8FF;
}

#card2 {
  background-color: #FFBEDF;
}

#card3 {
  background-color: #FACC00;
}

#card4 {
  background-color: #FCE37B;
}

#card5 {
  background-color: #EACEF4;
}

#card6 {
  background-color: #81DC8B;
}

#card7 {
  background-color: #FBD3AB;
}

.card-item:hover {
  transform: scale(1.1);
}

/* 카드 모달창 영역 */
.modal {
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 160px;
  bottom: 0;
  height: 100%;
  background-color: #D9D9D9;
  justify-content: center;
  align-items: flex-start;
  min-height: calc(125vh - 5rem);
}

.modal-content {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items:center;
} 

.modal-card {
  display: flex;
}

#bigCard1_1 {
  background-color: #9CE8FF;
  opacity: 0.3;
  position: absolute;
  
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  flex: 1;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.bigCard-item {
  margin: 25px;
  border-radius: 30px;
  width: 388px;
  height: 500px;
}

.bigCard-item img {
  width: 386px;
  height: 100px;
	display: flex;  
	justify-content: flex-end;
}

.bigCard-item p {
  font-family: 'BM HANNA Pro OTF';
  font-size: 30px;
  line-height: 1.65em;
}

/* 푸터 영역 */

footer {
  width: 100%;
  height: 5rem;
  bottom: 0px;
  top: 30px;
  display: block;
  background-color: #f9eded;
}

/* movieMain 영역 */

.movieList {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.movieList img {
  width: 300px;
  height: 188px;
  cursor: pointer;
  border-radius: 30px;
  position: relative;
  justify-content: flex-end;
}

.movie {
  position: relative;
  transition-duration: 1s;

}

.movie:hover {
  transform: scale(1.1);
}

.movie-item {
  margin: 25px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: inline-block;
  position: relative;
}

.movie-time {
  position: absolute;
  bottom: 15px;
  right: 10px;
  width: 70px;
  height: 30px;
  background-color: #190909;
  opacity: 0.5;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.movieList p {
  font-family: '한나체 Pro';
  font-size: 16px;
  font-weight: bold;
  color: black;
  margin: 4px;
  text-align: left;
  position: relative;
}

.text-love {
  padding: 8px;
}

.love {
  position: relative;
  top: -30px;
  right: 30px;
  text-align: right;
}

.love img {
  position: absolute;
  width: 36px;
  height: 36px;
}

@font-face {
  font-family: '한나체 Pro';
  src: url('project\clone_html\assets\fonts\BMHANNAPro.ttf') format('truetype');
}